<h1><%= t('.title') %> </h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="field">
  <%= f.label t('.email') %>
  <div> </div>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label t('.password')%>
  <div> </div>
  <%= f.password_field :password %>
</div>

  <div> </div>
<div class="actions">
  <p><%= f.submit t('.butname'), id:'create-session' %></p>
</div>
<% end %>