<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <ul>
      <%if current_user.admin? %>
      <li><%= link_to t('common.usersindex'), admin_users_path,id:'users-index' %></li>
      <li><%= link_to t('common.adduser'), new_admin_user_path,id:'add-user' %></li>
      <%end %>
      <li><%= link_to t('common.tasksindex'), tasks_path(current_user.id),id:'tasks-index' %></li>
      <li><%= link_to t('common.newtask'), new_task_path(current_user.id),id:'new-task'%></li>


      <li><%= link_to 'ラベル一覧', labels_path(current_user.id),id:'labels-index' %></li>
      <li><%= link_to 'ラベルを登録する', new_label_path(current_user.id),id:'new-label'%></li>



      
      <li ><%= link_to t('common.account_setting'), user_path(current_user.id),id:"account-setting" %></li>
      <li ><%= link_to t('common.sign_out'), session_path(current_user.id), method: :delete, id:"sign-out"%></li>
      </ul>
    <% else %>
      <ul>       
      <li ><%= link_to t('common.sign_up'), new_user_path,id:"sign-up"%></li>
      <li ><%= link_to t('common.sign_in'), new_session_path,id:"sign-in" %></li>
      </ul>
    <% end %>



    <%= yield %>
  </body>
</html>

